*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.caregiver-profile-header {
    width: 100%;
    height: 300px;
    background-color: #B0F0FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.caregiver-profile-header .caregiver-before {
    padding: 0 0 200px;
    font-size: 40px;
    color: #4079;
}

.caregiver-profile {
    position: absolute;
    margin-top: 200px;
    /* transform: translateY(-50%); */
    left: 40px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #00AFD7;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.caregiver-profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 100px;
    margin-left: 50px;
}
@media (max-width: 768px) {
    /* Styles for tablets and larger screens */
    .caregiver-profile-header {
        height: 300px; /* Reset height for larger screens */
        padding: 0 20px; /* Reset padding for larger screens */
    }

    .caregiver-profile-header .caregiver-before {
        font-size: 5px; /* Reset font size for larger screens */
        margin-left: -72%;
    }

    .caregiver-profile {
        margin-top: 260px; /* Reset margin top for larger screens */
        width: 130px; /* Reset width for larger screens */
        height: 130px; /* Reset height for larger screens */
    }

    .caregiver-profile-container {
        margin-top: 40px; /* Reset margin top for larger screens */
        margin-left: 50px; /* Reset margin left for larger screens */
    }
}
