/* CaregiverHomePage.css */

/* Header bar */
.home-header {
    width: 100%;
    height: 150%;
    background-color: #cfbfdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.home-header h1 {
    font-size: 25px;
    color: #343a40;
  
}

.upcoming-appointment {
    height: 130px;;
    width: 40%;
    margin: 25px;
    padding: 10px;
    border-radius: 15px;
    background-color: #4ec6e1;
    left: 4%;
}

/* Appointment view */
.appointment-view {
    width: 35%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px; /* Rounded corners */
    position: absolute;
    left: 4%;
    background-color: #B0F0FF;
    font-weight: bold;
    font-family: 20px;
    /* background-color: #B0F0FF; */

}

/* CaregiverHomePage.css */

/* Grid view */
.grid-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 40%;
    margin: 20px;
    padding: 10px;
    position: absolute;
    left: 0;
    
}

/* CaregiverHomePage.css */

/* Grid box */
.grid-box {
    width: 150px; /* Set width */
    height: 150px; /* Set height */
    padding: 20px;
    margin-top: 6%;
    margin-left: 19%;
    border: 1px solidzcc;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    background-color:#58a3b4;
    display: flex; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */
    flex-direction: column; /* Add this */
}




/* grid view for 2 boxes vertical*/
.grid-view-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 40%;
    margin: 10px;
    position: absolute;
    left: 55%;
    top: 20%;
    align-items: flex-start;
    
}

.page-layout .grid-view .grid-box .p {
    color: #fff;
}

/* Statistics box */
.statistics-box {
    width: 300px; /* Set width */
    height: 320px; /* Set height */
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */
    flex-direction: column;
    transition: all 400ms ease;
}

.statistics-box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #00AFD7;
}

.page-layout .header-bar .caregiver-homepage-before {
    display: flex;
    color: #4079;
}