.list-view-reminders {
    display: flex;
    margin: 20px;
    flex-direction: column;
    width: auto;
}

.no-scroll {
    overflow: hidden;
}


.reminder-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* border: 6px solid  */
    border-radius: 4px;
    margin-bottom: 10px;
    /* background-color: #B0F0FF; */
    width: 50%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* background: linear-gradient(to right, #B0F0FF, #00AFD7); */

    background: #B0F0FF;

}

/* when mouse hovers over list item make it pop up */
.reminder-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}


.reminder-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #B0F0FF;
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.reminder-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.reminder-heading {
    font-size: 1.5em;
    /* Adjust as needed */
    font-weight: bold;
}

.reminder-details {
    margin-top: 10px;
}

.reminder-date {
    align-self: center;
    font-size: 1.2em;
    /* Adjust as needed */
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    border: #000 1px solid;
    border-radius: 10px;

}

.container {
    display: flex;
    justify-content: space-between;

}

.scheduler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    height: 500px;

    border: #000 1px solid;
    border-radius: 10px;
    background-color: #B0F0FF;
}

.reminder-item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.reminder-item-buttons button {
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
}

.reminder-item-buttons button:hover {
    background-color: #FFA500;
}

.modal {
    position: relative;
    z-index: 1;
    left: 20%;
    /* top: 10%; */
    width: 50%;
    height: 50%;
    overflow: auto;
    position: -webkit-sticky;
    align-self: center;
    background-color: #fefefe;

}

.close-button {
    position: absolute;
    top: 50%;
    left: 90%;
    text-size-adjust: 50px;

}
.info-left,
.info-right {
    width: 100%;
}

.info-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.info-row label {
    margin-right: 10px;
    width: 150px;
    text-align: right;
}

.info-row input {
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
}

.info-row input:focus {
    border-bottom: 1px solid #000;
}

.info-left,
.info-right {
    width: 45%;
}

.info-left h2 {
    color: #00AFD7;
    margin-bottom: 20px;
}

.info-left p,
.info-right p {
    margin: 10px 0;
    line-height: 1.6;
}

.info-left p strong,
.info-right p strong {
    margin-right: 10px;
}

.close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #00AFD7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #00AFD7;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* Align the modal to the top */
    border: 1px solid #888;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: 20px;
}
.form-container {
    width: 100%;
    height: fit-content;
    
}

.form-container input {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}