/* start page */

.start-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.start-page .header {
  margin-bottom: 20px;
  /* Adjust margin as needed */
}

.start-page .logo {
  width: 200px;
  /* Adjust width as needed */
}

.start-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  /* Adjust as needed */
}

.start-page .circle {
  width: 150px;
  height: 150px;
  background-color: #00AFD7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  color: white;
}

.start-page .circle:hover {
  background-color: #0096c7;
}

.start-page .circle.caregiver {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 20px;
  /* Add margin between buttons */
}

.start-page .circle.resident {
  margin-top: 100px;
  margin-left: 50px;
  margin-left: 20px;
  /* Add margin between buttons */
}

.start-page .houselogo {
  width: 500px;
  height: 600px;
  margin-right: 20px;
  float: right;
}

.start-page .rectangle {
  background-color: #00AFD7;
  height: 100px;
}